/*utilities*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn-log{
    float: right;
    padding: 10px;
    border-radius: 20px;
    margin-right: 380px;
    margin-top: 20px;
}

/*header*/

.container{
    width: 100%;
    height: 80px;
    background: #255ee9;
}

.brand{
    float: left;
    margin-top: 25px;
    margin-left: 360px;
}

.nav-bar{
    float: left;
    margin-top: 30px;
    margin-left: 230px;
    font-size: 16px;
}

.nav-bar li{
    list-style: none;
    display: inline;
    color: #ffffff;
    margin-right: 40px;
}

.log-in btn-log{
    float: right;
    margin-right: 380px;
    margin-top: 20px;
}

/*banner*/

.banner{
    position: relative;
    height: 545px;
}

.banner img{
    position: absolute;
    width: 100%;
}
